@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PT Mono';
  src: url('/fonts/PTMono-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Mono';
  src: url('/fonts/PTMono-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --tornado-primary: 148, 254, 191;
  --tornado-secondary: 59, 240, 161;
  --tornado-dark: 0, 4, 3;
  --tornado-card: 24, 24, 24;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 10 14% 5%;
    --foreground: 148 89% 85%;
    --card: 210 12% 11%;
    --card-foreground: 148 89% 85%;
    --primary: 148 89% 85%;
    --primary-foreground: 10 14% 5%;
    --sidebar-background: 26 31 38;
    --sidebar-foreground: 148 249 186;
  }
  
  body {
    @apply bg-[#000403] text-[#eee];
    font-family: 'PT Mono', monospace;
    font-weight: 400;
    font-size: 14px;
  }
}

