@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tornado-primary: 148, 249, 186;
  --tornado-secondary: 92, 246, 164;
  --tornado-dark: 10, 14, 17;
  --tornado-card: 26, 31, 38;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 10 14% 5%;
    --foreground: 148 89% 85%;
    --card: 210 12% 11%;
    --card-foreground: 148 89% 85%;
    --primary: 148 89% 85%;
    --primary-foreground: 10 14% 5%;
    --sidebar-background: 26 31 38;
    --sidebar-foreground: 148 249 186;
  }
  
  body {
    @apply bg-[#0a0e11] text-[#94f9ba];
    font-family: 'Space Mono', monospace;
    font-weight: 400;
  }
}

